<a href="https://colab.research.google.com/github/chaitu713/college-ranker-intern/blob/master/Python_Basics_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# List and it's Methods

Lists are used to store multiple items in a single variable.

*   Lists are used to store multiple items in a single variable.
*   It is a collection which is ordered, changeable and allows duplicate members.

**List Methods**


append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()

In [2]:
fruits = ['apple', 'cherrry', 'banana']

fruits.append("orange")
fruits.sort()
fruits.reverse()
fruits.remove("banana")
fruits.pop(1)
fruits.insert(1, "watermelon")
fruits.index("watermelon")

others = ['pineapple', 'strawaberry', 'guava','cherry','pineapple']

fruits.extend(others)
fruits.count("pineapple")
fruits.copy()
fruits.clear()

In [3]:
fruits

[]

# String and it's Methods

*   All string methods returns new values. They do not change the original string.

**String Methods**


*   isalpha(), isalnum(), index(), find(), count(), capitalize(), isdigit(), islower(), isnumeric()
*   endswith(), upper(), title(), swapcase(), strip(), startswith(), split(), join(), lower(), replace()

In [8]:
txt = "hello, and welcome to our course."
a = txt.capitalize()
print(a)

txt = "I am from India and born in Maharashtra, India"
b = txt.count("India")
print(b)

txt = "I love apples, apple are my favorite fruit"
c = txt.find("banana")
print(c)

d = txt.index("apple")
print(d)

txt = "hello, my name is Peter, I am 26 years old"
e = txt.split(', ')
print(e)

Hello, and welcome to our course.
2
-1
7
['hello', 'my name is Peter', 'I am 26 years old']

In [13]:
txt = "Company12"
name = txt.isalnum()
print(name)

txt = "Company"
alpha = txt.isalpha()
print(alpha)

txt = '50800'
num = txt.isdigit()
print(num)

names = ["John", "Peter", "Vicky"]
joined = "_".join(names)
print(joined)

txt = "I love sports"
result = txt.replace("sports", "cricket")
print(result)

True
True
True
John_Peter_Vicky
I love cricket

In [14]:
txt = "Hello, welcome to my world."
start = txt.startswith("welcome")
end = txt.endswith("?")

In [15]:
start, end

(False, False)

# Python Conditional Statements


*   If , elif, else statements

In [16]:
a , b = 33 , 200

# print(b>a)

if b > a:
  print("b is greater than a")

b is greater than a

In [17]:
aman , vinod = 80 , 50

if vinod > aman:
  print("vinod scores greater than aman")
elif aman == vinod:
  print("Both scores equally")

In [18]:
if vinod > aman:
  print("vinod scores greater than aman")
elif aman == vinod:
  print("Both scores equally")
else:
  print('aman scores greater than vinod')

aman scores greater than vinod

In [19]:
marks = 28

if marks > 35:
  print("He is Pass")
  if marks > 60:
    print("He is in Distinction")
  else:
    print("He is in Mid Range")
else:
  print('Sadly, He is Fail')

Sadly, He is Fail