<a href="https://colab.research.google.com/github/chaitu713/college-ranker-intern/blob/master/Python_Data_Structure_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a
a

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [6]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [7]:
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [8]:
temp = languages[1]

Print the value of temp and type(temp)

In [9]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [10]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [11]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [12]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [13]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [17]:
colors.insert(1, "Orange")

Print the list

In [21]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [25]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [27]:
colors.extend(colors2)

Print len of colors and its elements

In [28]:
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [30]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [31]:
sent = "Coronavirus caused Lockdowns around the world"

Use split function to convert the string into a list of words and save it in variable words and print the same

In [33]:
words = sent.split()
print(words)

['Coronavirus', 'caused', 'Lockdowns', 'around', 'the', 'world']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [50]:
words_lower = words
for i in range(len(words)):
  words[i] = words[i].lower()
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‚Äòcountry‚Äô is in the list

In [51]:
'country' in words_lower

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [52]:
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [53]:
x4 = words_lower[:4]

In [54]:
# print x4

x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [59]:
stringX4 = " ".join(x4)

stringX4

'coronavirus caused lockdowns around'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [60]:
stud_grades = ['A','A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [61]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [62]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [63]:
print(stud_grades_set)

{'B', 'A', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [64]:
print(type(stud_grades))
print(type(stud_grades_set))

<class 'list'>
<class 'set'>

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [65]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [66]:
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'F', 'C', 'B', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [67]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [68]:
print(stud_grades_set)
len(stud_grades_set)

{'A', 'C', 'B', 'G'}

4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [69]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [71]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [72]:
colors_set = set(colors)
fruits_set = set(fruits)

print(colors_set)
print(fruits_set)

{'orange', 'blue', 'red'}
{'orange', 'apples', 'grapes'}

Find the union of both the sets.

In [73]:
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [74]:
colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [75]:
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [76]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [78]:
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [80]:
temp[0] = 11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [81]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [82]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [83]:
temp1[0] = 17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [84]:
city = ('Banglore', 28.9949521, 72)

Print first element of city

In [85]:
city[0]

'Banglore'

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [86]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [91]:
cities = (city, city2)

Print cities

In [92]:
cities

(('Banglore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [93]:
type(cities[0])

tuple

print the type of cities

In [94]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [95]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [96]:
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [97]:
d['actor'] = 'shah rukh'

Print the type of actor

In [98]:
type(d['actor'])

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [99]:
d['list'] = [32,12,23]

Print the type of List.

In [100]:
print(type(d['list']))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [102]:
d1 = {'singer' : 'Kr$na', 'album': 'Still here', 'genre': 'hiphop'}

Merge d1 into d.

In [105]:
d.update(d1)

print d

In [106]:
d

{'actor': 'shah rukh',
 'animal': 'cat',
 'earth': 2,
 'list': [32, 12, 23],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hiphop'}

Print all the keys in d

In [107]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [108]:
d.values()

dict_values(['shah rukh', 'cat', 2, [32, 12, 23], 'Kr$na', 'Still here', 'hiphop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [109]:
for key in d:
  print(key, " ----> ", d[key])

actor  ---->  shah rukh
animal  ---->  cat
earth  ---->  2
list  ---->  [32, 12, 23]
singer  ---->  Kr$na
album  ---->  Still here
genre  ---->  hiphop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.