<a href="https://colab.research.google.com/github/chaitu713/college-ranker-intern/blob/master/Python_Basics_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basic Terms**


*   Syntax (Valid & Invalid)
*   Comments

In [2]:
name = 'Chaitanya'    # This is my name
print(name)

Chaitanya

In [3]:
#This is comment

**Python Data Types:** 
 - ***Primitive DataTypes:***
   - Integer, Float, Boolean, String, None
 - ***Containers:***
   - List, Tuple, Dictionary

**Python Data Types, Type Casting & Variables**


*   **Text Type:**	str
*   **Numeric Types:**	int, float
*   **Sequence Types:**	list, tuple, range
*   **Mapping Type:**	dict
*   **Set Types:**	set
*   **Boolean Type:**	bool

In [4]:
student1 = ('Rishika', 21, 90.2)    # Cannot modify it
student2 = ['Rishika', 21, 90.2]    # Can modify it
student3 = {'Rishika', 21, 90.2}    # Random Output

In [ ]:
type(student3)

set

In [10]:
student1

('Rishika', 21, 90.2)

In [9]:
student2

['Rishika', 21, 90.2]

In [8]:
student3

{21, 90.2, 'Rishika'}

In [5]:
student = {'Name':'Rishika', 'Age': 21, 'Percent':90.2}

In [6]:
student

{'Name': 'Rishika', 'Age': 21, 'Percent': 90.2}

In [11]:
bool(0)

False

In [12]:
bool(1)

True

**Python Operators**

*   Arithmetic operators
*   Assignment operators
*   Comparison operators
*   Logical operators
*   Membership operators

In [14]:
# Arithmetic Operators (+,-,*,/,%,**)                        # Used with numeric values to perform common mathematical operations

x = 5
y = 8

print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

13 -3 40 0.625 0 5 390625

In [15]:
# Assignment Operators (=,+=,-=,*=,/=,%=,**=)                # Used to assign values to variables

x, y = 5, 8

# print(x = y, x += y, x -= y, x *= y, x %= y, x /= y, x **= y)

x -= y       # x = x - y
x *= y       # x = x * y

In [16]:
# Comparison Operators (==,!=,<,>,<=,>=)                     # Used to compare two values

# print(x == y, x != y, x < y, x > y, x <= y, x >= y)
x, y = 5, 8

x > y

False

In [ ]:
# Logical Operators (==,!=,<,>,<=,>=)                        # Used to combine conditional statements

# print(x and y, x or y, not y)

not((x < y) or (x == y))
# (x < y) or (x == y)

False

In [17]:
# Membership Operators (==,!=,<,>,<=,>=)                     # Used to test if a sequence is presented in an object

# print(x in y, x not in y)

x = [1,2,3,4,5]
y = 6

y not in x

True